*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  background: linear-gradient(
    to right top,
    #5f87e4,
    #6198d6,
    #51abe7,
    #5ec9f0,
    #44bbd3,
    #567cfa,
    #6995e6
  );
  color: rgb(225, 225, 255);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, .65);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 30px 80px 4px;
  width: 30rem;
}

.title {
   color: #d90404;
   opacity: .75;
  text-align: center;
  margin: 1rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

label span {
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 2px;
  position: relative;
  bottom: 4rem;
  transition: transform 200ms ease-in-out;
}

input {
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  background-color: transparent;
  outline: none;
  border: unset;
  border-bottom: 1.5px solid white;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  color: white;
  z-index: 1;
}

.btn-login {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 1.75rem;
  padding: 0.75rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25em;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  background-color: #0583f2;
  transition: 0.3s;
}

.btn-login:hover {
  transition: 0.3s;
  background-color: #1e28d9;
}

a:hover {
  transition: 0.3s;
  color: #f23d3d;
}

p {
  text-align: center;
}

input:focus,
input:valid {
  border-bottom: 2px solid white;
}

input:focus + label span,
input:valid + label span {
  color: white;
  transform: translateY(-2rem);
}

.links {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #d90404;
  transition: 0.3s;
}
